/*
 *  Plugin Name:        A Simple jQuery Slider, jSlider
 *  Plugin Version:     1.0.1
 *  Plugin URL:         
 *  Author:             Bappi D Great
 *  Author E-mail:      shimul.ashok@gmail.com
 *  Author Web:         http://bappi.d.great.com
 */


.jSlider *{
    margin: 0;
    padding: 0;
}

.jSlider ul{
    list-style-type: none
}

.jSlider{
	margin: auto;
	overflow: hidden;
	position: relative;
}

.jSliderWrap{
	width: 2472px;
}

.jSlider .jSliderGallery li{
	position: relative;
	float: left;
}

.jSlider .jSliderGallery li .jScaption{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 200px;
	background: #ededed;
	padding: 10px;
	cursor: pointer;
}

.jSlider .jSliderNav li{
	float: left;
	margin: 0 5px;
}

.jSlider .jSliderNav{
	position: absolute;
	top: 10px;
	right: 10px;
}

.jSlider .jSliderNav li a{
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	background: none;
	display: block;
	outline: none;
}

.jSlider .jSliderNav li .jSactive{
	background: #fff;
	border: 1px solid #000;
}